form {
	padding-top: 10px;
}

form>div {
	padding-bottom: 10px;
}

form>div>div {
	padding: 0px 10px 10px 0px;
	display: inline-block;
}

form>div>div:first-child {
	width: 360px;
	font-size: 16pt;
}

.save {
	text-align: center;
	margin-left: 140px;
}

.save button {
	font-size: 16pt;
	border-radius: 5px;
	padding: 0px 10px;
	background-color: rgb(229, 236, 241);
	color: rgb(33, 56, 73);
}

#total {
	font-size: 16pt;
	text-decoration: underline;
}