/* Eric Meyer reset 10/14/15*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

a {
	color:inherit;
	text-decoration: none;
}

/* End Reset */




/* Start CSS */

.pageContainer {
	background-color: rgb(167, 180, 189);
}

.pageContainer>div {
	display: flex;
	width: 960px;
	margin: 0 auto;
}


/* Sidebar section */

.sidebar {
	flex: 1;
	background-color: rgb(39, 71, 96);
	font-weight: bold;
}

.welcome {
	text-align: center;
}

.welcome div:first-child {
	height: 100px;
}

.welcome img{
	border-radius: 50%;
	height: 100px;
}

.sidebar h1 {
	font-size: 14pt;
	text-decoration: bold;
	color: rgb(81, 123, 156);
}

.sidebar h2 {
	font-size: 14pt;
	text-transform: uppercase;
	padding-left: 5px;
}

.sidebar h3 {
	font-size: 10pt;
	font-weight: bold;
	color: rgb(81, 123, 156);
}

.sidebar>div {
	border-bottom: 2px solid rgb(33, 56, 73);
	padding: 10px 0px;
}

.sidebar>div>div {
	margin: 20px 20px 20px 20px;
}

.sidebar h2 div {
	display: inline-block;
	margin-right: 5px;
}

.sidebar a {
	text-decoration: none;
	color: rgb(137, 156, 171);
}

.sidebar i {
	width: 25px;
	text-align: center;
}

.sidebar h2:hover {
	border-left: 4px solid rgb(79, 167, 235);
}

.header a div:hover{
	text-shadow: 0px 0px 4px;
}

/* Head Nav section */

.contentContainer>div:first-child{
	position: relative;
	height: 60px;
	border-bottom: 1px solid rgb(219, 222, 223);
}

.header {
	position: absolute;
	right: 0px;
	padding-right: 4px;
	color: rgb(64, 105, 137);
}

.header div {
	height: 20px;
	font-size: 25px;
	border-left: 1px solid rgb(219, 222, 223);
	display: inline-block;
	padding: 20px;
}

.header>a, .header>a>div, .header>a>div>i {
	text-decoration: none;
	color: rgb(64, 105, 137)
}

.header i {
	color: rgb(64, 105, 137);
}


/* Main Content section */

.contentContainer {
	flex: 4;
}

.contentContainer h1 {
	margin: 40px;
	font-size: 24pt;
}

/* Removed some on Accounts page*/

.content {
	min-height: 400px;
	padding: 40px;
	background-color: rgb(229, 236, 241);
	min-height: 400px;
	color: rgb(39, 71, 96);
}

.motivation {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 60px;
	color: rgb(81, 123, 156);
}

.motivation>div {
	padding: 10px;
	margin: 0px 80px 10px 80px;
	line-height: 150%;
}

.contentContainer h3 {
	font-size: 16pt;
	text-decoration: underline;
}

/*COLORS*/

.contentContainer {
	background-color: white;
}

.subContent div div {
	background-color: rgb(229, 236, 241);
}

.motivation {
	background-color: rgba(229, 236, 241, 1);
}



