/* Eric Meyer reset 10/14/15*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

/* End Reset */



/* color = rgba(33, 33, 240, 0);

/* Start CSS */

.pageContainer {
	position: relative;
	z-index: 1;
}

.pageContainer>div {
	z-index: 1;
	position: relative;
}

.hero {
	background-image: url("/images/background(beach rock stack).jpg");
	background-size: 100% 600px;
	color: rgb(245, 245, 253);
	position: relative;
	z-index: 999;
}

.hero h1 {
	color: rgb(245, 245, 253);
}

header>div {
	width: 80%;
	margin: 0px auto;
	position: relative;
	padding-top: 40px;

}

.title, .nav {
	display: inline-block;
}

.nav {
	position: absolute;
	top: 50px;
	right: 50px;
}

.nav button {
	font-size: 16pt;
	padding-right: 15px;
	padding-left: 15px;
	background: none;
	color: inherit;
	border: none;
	text-transform: uppercase;
}

.title h1 {
	font-size: 40pt;
	font-family: 'Droid Serif', serif;
}

.title span {
	font-weight: bold;
}

header>div>div {
	display: inline-block;
}

.mainHeading {
	position: relative;
	width: 80%;
	margin: 0px auto;
	z-index: 50;
	padding-bottom: 80px;
	
}

.mainHeading>div {
	margin-top: 260px;
	width: 400px;
	padding-bottom: 20px;
}

.mainHeading h2 {
	font-size: 22pt;
	line-height: 150%;
}

.pageContainer>div:last-child {
	overflow:hidden;
	margin-top: -150px;
}

.angle { 
	position: relative;
	margin: 0px;
    height:0;
    border-width:0 0 150px 2000px;
    border-style:solid;
    border-color:transparent rgb(245, 245, 253) rgb(245, 245, 253) transparent;
    z-index: 2;
}

.signUp {
	position: relative;
	width: 80%;
	z-index: 100;
	transform: translateY(40px);
	margin: 0 auto;
}

.signUp>div {
	position: absolute;
	left: 0px;
	top: 20px;
	z-index: 200;
}

.signUp>div button {
	font-size: 14pt;
	padding: 10px 20px;
	margin-bottom: 30px;
	border-radius: 40px;
	border: none;
	background: #4CB1FF;
	color: rgb(245, 245, 253);
}

.panel {
	padding-top: 20px;
	padding-bottom: 60px;
}

.panel>div {
	text-align: center;
}

.panel h3 {
	color: #4CB1FF;
	margin-bottom: 40px;
	font-size: 22pt;
}

.panel p {
	color: rgb(111, 111, 119);
	margin: 0 auto;
	width: 600px;
	font-size: 14pt;
	line-height: 150%;
}

.what {
	background-color: rgb(245, 245, 253);
}

button:hover, .signUp>div button:hover {
	color: yellow;
	cursor: pointer;
}

button:focus {
	outline: 0;
}

/* LIGHTBOXES */

.lightbox {
	height: 280px;
	width: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
	display: none;
	transform: translate(-50%, -50%);
	box-shadow: 0px 0px 10px 0px rgb(111, 111, 119);
	/*border: 2px solid rgb(111, 111, 119);*/
	border-radius: 10px;
	background-color: rgb(245, 245, 253);
	padding: 20px;
	z-index: 999;
	color: #4CB1FF;
}

.lightbox h3 {
	text-align: center;
	margin: 20px;
	font-size: 18pt;
}

.lightbox form {

}

.lightbox form div {
	margin-top: 10px;
	text-align: center;
	display: block;
}

.lightbox button {
	font-size: 14pt;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 40px;
	padding: 5px 10px;
	background: #4CB1FF;
	color: rgb(245, 245, 253);
	border: 1px solid;
	text-transform: uppercase;
}

.lightbox a {
	text-decoration: none;
}

.lightbox button:hover {
	color: yellow;
	cursor: pointer;
}

.reset label{
	text-align: left;
}

.display {
	display: block;
}