.scheduleContainer>div {
	width: 520px;
	margin: 0 auto;
	text-align: center;
}

.heading {
	margin: 10px;
}

.heading h2 {
	font-size: 18pt;
	margin-bottom: 15px;
	font-weight: bold;
}

.heading h3 {
	font-size: 16pt;
	margin-bottom: 10px;
	font-weight: bold;
}

table {
	margin: 0 auto;
}

.table_headings>td {
	font-weight: bold;
}

table td {
	margin: 5px;
	padding: 5px;
	border: 1px solid black;
	width: 192px;
}

