
form {
	font-size: 14pt;
}
.mainContainer {
	display: flex;
	border-bottom: 2px solid rgb(39, 71, 96);
	padding-top: 10px;
	padding-bottom: 30px;
}

.mainContainer>div:first-child {
	flex: 2;
}
.mainContainer>div:last-child {
	flex: 3;
}

.field>div {
	display: inline-block;
	padding-bottom: 10px;
}

.field>div:first-child {
	width: 120px;
}

.password a {
	font-size: 12pt;
	text-decoration: none;
}

.optional {
	position: relative;
	font-size: 10pt;
}

.optional>div {
	position: absolute;
	margin-left: -18px;
	padding: 5px;
	border: 1px solid black;
	width: 340px;
	transform: translate(50%, -50%);
	background-color: white;
	text-align: center;
}

.streetContainer {
	margin-top: 40px;
}

.streetContainer>div>div {
	display: inline-block;
}

.streetContainer input{
	width: 375px;
}

.additionalContainer {
	display: flex;
	border-bottom: 2px solid rgb(39, 71, 96);
	padding-top: 10px;
	padding-bottom: 30px;
}

.additionalContainer>div:first-child {
	flex: 2;
}
.additionalContainer>div:last-child {
	flex: 3;
}

.save {
	margin-top: 30px;
	text-align: center;
}

.save button {
	font-size: 20pt;
	border-radius: 5px;
	background-color: rgb(229, 236, 241);
	color: rgb(33, 56, 73);
}