/* Eric Meyer reset 10/14/15*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: 'Arvo', serif;
}

/* End Reset */




/* Start CSS */

.pageContainer {
	background-color: grey;
}

.pageContainer>div {
	display: flex;
	width: 960px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}


/* Sidebar section */

.sidebar {
	flex: 1;
	height: 1200px;
	background-color: lightblue;
	text-decoration: bold;
}

.welcome {
	text-align: center;
}

.welcome div:first-child {
	height: 100px;
}

.welcome img{
	border-radius: 50%;
	height: 100px;
}

.sidebar h1 {
	font-size: 14pt;
	text-decoration: bold;
}

.sidebar h2 {
	font-size: 14pt;
	text-transform: uppercase;
}

.sidebar h3 {
	font-size: 10pt;
	font-weight: bold;
}

.sidebar>div {
	border-bottom: 2px solid black;
	padding: 10px 0px;
}

.sidebar>div>div {
	margin: 20px 20px 20px 20px;
}

.sidebar h2 div {
	display: inline-block;
	margin-right: 5px;
}

.sidebar a {
	text-decoration: none;
}

.sidebar i {
	width: 25px;
	text-align: center;
}


/* Head Nav section */

.contentContainer>div:first-child{
	position: relative;
	height: 60px;
	border-bottom: 1px solid black;
}

.header {
	position: absolute;
	right: 0px;
	padding-right: 4px;
}

.header div {
	height: 20px;
	font-size: 25px;
	border-left: 1px solid black;
	display: inline-block;
	padding: 20px;
}

.header a {
	text-decoration: none;
}


/* Main Content section */

.contentContainer {
	flex: 4;
	background-color: lightgrey;
}

.contentContainer h1 {
	margin: 40px;
	background-color: royalblue;
	font-size: 24pt;
	text-decoration: underline;
}

.content {
	min-height: 400px;
	margin: 40px;
	padding: 10px;
}

.motivation {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.motivation>div {
	border: 1px solid black;
	padding: 10px;
	margin: 10px 80px 10px 80px;
}

.contentContainer h3 {
	font-size: 16pt;
	text-decoration: underline;
}


/*JAMAICAN COLORS*/

.welcome {
	background-color: red;
}

.date {
	background-color: green;
}

.mainViews {
	background-color: pink;
}

.edits {
	background-color: yellow;
}

.contentContainer {
	background-color: teal;
}

.primaryContent {
	background-color: darkorchid;
}

.subContent {
	background-color: tomato;
}

.subContent div div {
	background-color: white;
}

.motivation {
	background-color: violet
}

.content {
	background-color: lightgreen;
}


/* SPECIFIC TO SETTINGS PAGE */

form {
	font-size: 14pt;
}
.mainContainer {
	display: flex;
	border-bottom: 2px solid black;
	padding-top: 10px;
	padding-bottom: 30px;
}

.mainContainer>div:first-child {
	flex: 2;
}
.mainContainer>div:last-child {
	flex: 3;
}

.field>div {
	display: inline-block;
	padding-bottom: 10px;
}

.field>div:first-child {
	width: 120px;
}

.optional {
	position: relative;
	font-size: 10pt;
}

.optional>div {
	position: absolute;
	margin-left: -18px;
	padding: 5px;
	border: 1px solid black;
	width: 340px;
	transform: translate(50%, -50%);
	background-color: white;
}

.streetContainer {
	margin-top: 40px;
}

.streetContainer>div>div {
	display: inline-block;
}

.streetContainer input{
	width: 375px;
}

.additionalContainer {
	display: flex;
	border-bottom: 2px solid black;
	padding-top: 10px;
	padding-bottom: 30px;
}

.additionalContainer>div:first-child {
	flex: 2;
}
.additionalContainer>div:last-child {
	flex: 3;
}

.save {
	margin-top: 30px;
	text-align: center;
}

.save button {
	font-size: 16pt;
}