.subContent {
	display: flex;
	margin: 0px 0px 20px 0px;
}

.subContent>div {
	flex: 1;
}

.subContent>div>div {
	display: inline-block;
	padding: 5px;
	font-size: 14pt;
	color: rgb(39, 71, 96);
}

.graphContainer {
	display: flex;
}

.graphContainer>div {
	flex: 1;
	height: 360px;
}

.highcharts-container>svg>text {
	display: none;
}

